{% extends "oss_base.html" %}

{% comment %}
# COPYRIGHT FUJITSU SOCIAL SCIENCE LABORATORY LIMITED 2012
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
#
# + Redistributions of source code must retain the above copyright notice, this list of conditions
# and the following disclaimer.
# + Redistributions in binary form must reproduce the above copyright notice, this list of conditions
# and the following disclaimer in the documentation and/or other materials provided with the distribution.
# + Neither the name of the FUJITSU SOCIAL SCIENCE LABORATORY LIMITED nor the names of its contributors
# may be used to endorse or promote products derived from this software without specific prior written
# permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
# FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

{% endcomment %}

{% block title %}Cocuuma{% endblock title %}

{% block link %}
	<link href="/static/css/create_image_2.css" rel="stylesheet" type="text/css" />
{% endblock link %}

{% block script %}
	<script src="/static/js/create_image_2.js" type="text/javascript"></script>
{% endblock script %}

{% block content %}

			<!-- main contents (left, right) start -->
			<div id="main_contents">

				<!-- left contents start -->
				<div id="left_contents">

				</div><!-- left contents end -->

				<!-- right contents start -->
				<div id="right_contents">

						<!-- formはkoala_base.htmlに統合する-->
						<form method="post" action="">
						<div id="right_contents_header">
							<h2>OSイメージ作成</h2>
							<div >
                            <table class="progress_tracker">
                                <tr>
                                    <td id="first_column" class="past_column">1. イメージの設定</td>
                                    <td>></td>
                                    <td id="second_column" class="current_column">2. イメージファイルの選択</td>
                                    <td>></td>
                                    <td id="third_column" class="future_column">3. 構成確認</td>
                                </tr>
                            </table>
							</div>
						</div>
						<!-- エラーメッセージ -->
						{% if message %}
						<br>
						{% for m in message %}
						<div class="err_msg">{{m}}</div>
						{% endfor %}
						<br>
						{% endif %}

						<div class="image_info_area">
							<h3>イメージ情報の選択</h3>
							<table class="image_info" id="group_info" cellpadding="0" cellspacing="0">
								<tr>
									<td>イメージファイル<span class="asterisk">*</span></td>
									<td>{{form.image_path}}</td>
								</tr>
								{% if request.session.ss_img_selectimagetype == 'machine' %}
								<tr>
									<td>ラムディスクイメージ<span class="asterisk">*</span></td>
									<td>{{form.ramdisk}}</td>
								</tr>
								<tr>
									<td>カーネルイメージ<span class="asterisk">*</span></td>
									<td>{{form.kernel}}</td>
								</tr>
							{% endif %}
							</table>
							<div>※イメージファイルにはサーバの【プロジェクトディレクトリ】/image に配置されたファイルが表示されます。</div>
                        </div>
                        <div id="cancel_or_next">
							<input type="button" onclick="jump('/image/createstep1back/')" value=" &lt; 戻る" />
							<input type="button" onclick="jump('/image/createstep2/')" value=" 次へ &gt;"/>
							{% if 'ss_img_selectNumber' in request.session %}
								{% for i in image_model_List %}
									{% if forloop.counter0 == request.session.ss_img_selectNumber %}
										<input type="button"  onclick="location.href='/image/{{i.id}}/'" value="キャンセル"/>
									{% endif %}
								{% endfor %}
							{% else %}
								<input type="button"  onclick="location.href='/image/top/'" value="キャンセル"/>
							{% endif %}
                        </div>
                    </form>
                </div><!-- right contents end -->

            </div><!-- main contents (left, right) end -->

{% endblock content %}