{% extends "oss_base.html" %}

{% comment %}
# COPYRIGHT FUJITSU SOCIAL SCIENCE LABORATORY LIMITED 2012
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
#
# + Redistributions of source code must retain the above copyright notice, this list of conditions
# and the following disclaimer.
# + Redistributions in binary form must reproduce the above copyright notice, this list of conditions
# and the following disclaimer in the documentation and/or other materials provided with the distribution.
# + Neither the name of the FUJITSU SOCIAL SCIENCE LABORATORY LIMITED nor the names of its contributors
# may be used to endorse or promote products derived from this software without specific prior written
# permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
# FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
{% endcomment %}

{% block title %}Cocuuma{% endblock title %}
{% block action %}/template/domodtemplate/{% endblock action %}

{% block link %}
	<link href="/static/css/modify_template.css" rel="stylesheet" type="text/css" />
{% endblock link %}

{% block script %}
	<script src="/static/js/modify_template.js" type="text/javascript"></script>
{% endblock script %}

{% block content %}


			<!-- main contents (left, right) start -->
			<div id="main_contents">

				<!-- left contents start -->
				<div id="left_contents">

				</div><!-- left contents end -->

				<!-- right contents start -->
				<div id="right_contents">
					<div id="right_contents_header">
						<h2><img src="/static/images/template.png" class="icons">&nbsp;テンプレート編集</h2>
						<input type="button" onclick="jump('/template/modtemplate/')" value="値を初期状態に戻す"/>
					</div>
					<!-- エラーメッセージなど -->
					{% if message %}
					<br>
					{% for m in message %}
					<div class="err_msg">{{m}}</div>
					{% endfor %}
					<br>
					{% endif %}
					<div class="template_info_area">
						<table class="template_info" cellpadding="0" cellspacing="0">
								<tr>
									<td>テンプレート名<span class="asterisk">*</span></td>
									<td>{{ form.name }}</td>
								</tr>
								<tr>
									<td>説明</td>
									<td>{{ form.description }}</td>
								</tr>
								<tr>
									<td>イメージ名<span class="asterisk">*</span></td>
									<td>{{ form.image }}</td>
								</tr>
								<tr>
									<td>起動タイプ<span class="asterisk">*</span></td>
									<td>{{ form.vmtype }}</td>
								</tr>
								<tr>
									<td>起動台数<span class="asterisk">*</span></td>
									<td>{{ form.count }}</td>
								</tr>
						</table>
							<input type="button" onclick="jump('/template/{{request.session.ss_tpl_selectID}}/')" id="submit_button"  value="キャンセル"/>
							<input id="submit_button" type="submit" value="決定" />
					</div>

				</div><!-- right contents end -->

			</div><!-- main contents (left, right) end -->

{% endblock content %}